@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>

<h3>Our Mission</h3>
<p>To share our passion and knowledge of books and build community through great reads, good company, 
    and engaging conversations for all ages. We are committed to providing exceptional customer service
    through which our devotion to independence, inclusion, and diversity can be felt by all.
</p>

<h3>Our History</h3>
<p>Our history dates back to 1875 when our great-great grandfather opened W. W. Wickel Pharmacy in Naperville, IL. 
    Naperville was a small farming town at that time, and our great-great grandfather and his son-in-law Louis Oswald 
    sold books, gifts, and toys in the store. 
    In 1964 our grandfather opened our first official bookstore above the drugstore, 
    calling it Paperback Paradise. Since then we have expanded and moved several times, 
    opening our Downers Grove store in 1980 and a children’s wholesale warehouse bookfair company, 
    Anderson’s Bookfair Company (ABCFairs), in 1982, now located in Aurora. 
    In 2015 we opened our La Grange store  and in 2016 Anderson’s Toyshop in Naperville.
    The 5th generation that own and run the businesses today all started to work at a very young age at our family’s drugstore. 
    Working alongside with your grandfather, parents, brothers, sister, and children is a family tradition that creates 
    community within your family, and reaches your employees, your customers, and beyond. 
    We are proud to have the sixth generation now working in the businesses. 
    For 143 years we have lived and breathed this community; we are here to stay, thrive, 
    and help make it a great place for all with whom we come in contact.
</p>
