@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Anderson's Bookshop Naperville <br />
    123 W Jefferson Ave, Naperville, IL 60540<br />
    (630) 355-2665<br />
    M-Sat 9-9 | Sun 11-5
</address>
