@{
    ViewBag.Title = "Home Page";
}

<img src="https://pbs.twimg.com/profile_images/740998807740026882/w4mx2Y3p_400x400.jpg" style="width:128px;height:128px;" />

<h3>Bestsellers</h3>
<div>
    <img src="https://images-na.ssl-images-amazon.com/images/I/81M3rc5PK9L.jpg" 
         class="rounded float-left" style="width:150px;height:200px;">
    <img src="https://images-na.ssl-images-amazon.com/images/I/91NZ5Cw-4TL.jpg" 
         class="rounded mx-auto d-block" style="width:150px;height:200px;">
    <img src="https://i.harperapps.com/covers/9789352770571/x510.jpg" 
         class="rounded float-right" style="width:150px;height:200px;">
</div>

<h3>Coming Soon</h3>
<div>
    <img src="https://images-na.ssl-images-amazon.com/images/I/41Vwu93nm4L._SX329_BO1,204,203,200_.jpg" 
         class="rounded float-left" style="width:150px;height:200px;">
    <img src="https://images-na.ssl-images-amazon.com/images/I/71Z7QVKhLPL.jpg" 
         class="rounded mx-auto d-block" style="width:150px;height:200px;">
    <img src="https://images-na.ssl-images-amazon.com/images/I/917Tn0wpsCL.jpg" 
         class="rounded float-right" style="width:150px;height:200px;">
</div>